## Bike Stats with Pandas by Corey DeJong (5.27.2020)

In [1]:
import numpy as np
import pandas as pd

In [2]:
station=pd.read_csv('station.csv')
trip=pd.read_csv('trip.csv',error_bad_lines=False)
weather=pd.read_csv('weather.csv')
station
trip
weather

b'Skipping line 50794: expected 12 fields, saw 20\n'

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

## Question 1

In [3]:
avg_trip_duration = trip['tripduration'].mean()
avg_trip_duration.round(1)

1178.3

## Question 2

In [4]:
most_common_year = trip['birthyear'].mode()
from datetime import datetime
current_year = datetime.now().year
most_common_age = current_year-most_common_year[0]
most_common_age

33.0

## Question 3

In [5]:
# avg_precep_per_month = weather.groupby(pd.Grouper(freq='M'))
avg_precep_per_month=weather[['Date','Precipitation_In']].mean()
avg_precep_per_month

# split date by forward slash

Precipitation_In    0.105065
dtype: float64

## Question 4

In [6]:
avg_bikes_station = station['current_dockcount'].mean()
avg_bikes_station = avg_bikes_station.round(1)
avg_bikes_station

16.5

## Question 5

In [7]:
# filter data by modified or not
# modified_locations = station['modification_date'].dropna()[['install_dockcount'].mean()]-[['current_dockcount'].mean()]
# modified_locations
#get the average of before bike count
# before_avg = station['install_dockcount'].mean()
# before_avg
# # get the average of after bike count
# after_avg = station['current_dockcount'].mean()
# after_avg
# # compare the before/after
# total = (after_avg-before_avg)+1
# total

## TESTS!!!!

In [8]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip_duration.round(1), 1178.3)
    assert_equal(most_common_age, 33)
    # question 3
    assert_equal(avg_bikes_station, 16.5)
#     assert_equal(most_common_genre, 'Action')
#     assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
#     assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
#     assert_equal(na_median_sales, .08)
#     assert_equal(ten_median_na_seller_names, None)
#     assert_equal(top_selling_game_std_na, 50)
#     assert_equal(wii_sales_avg_percent_difference.round(1), 16.2)
    

    print("Success!!!")

test()

Success!!!